@model ListDutiesViewModel

@{
    ViewData["Title"] = "ListDuties";
}
<h4>Duty</h4>
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Task ID</th>
            <th>Category</th>
            <th>Task Name</th>
            <th>Decription</th>
            <th>User</th>
            <th>Directed</th>
            <th>Statu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var duty in Model.Duties)
        {
            <tr>
                <td>@duty.TaskID</td>
                <td>@duty.CategoryName</td>
                <td>@duty.TaskName</td>
                <td>@duty.Description</td>
                <td>@duty.UserName</td>
                <td>@duty.DirectedName</td>
                <td>@duty.Statu</td>
            </tr>
        }
    </tbody>
</table>
